<div class="col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="purple">
      <h4 class="title">
        <p>#Bill:
          
          <input type="number" value="6415" class="bill-number"/>
        </p>
        <p>Date: <span>22/11/11</span></p>
        <p class="right">Total: <span>550/-</span></p>
      </h4>
    </div>
    <div class="card-content table-responsive">
      <div>
        <md-input-container>
          <input autofocus mdInput placeholder="Customer Name">
        </md-input-container>
        <md-input-container>
          <input auto-complete [(ngModel)]="selectedDoctor" [source]="doctors" mdInput placeholder="Doctor Name">
        </md-input-container>
      </div>
      <md-input-container class="product-input">
        <input auto-complete [(ngModel)]="selectedProduct" [source]="products" mdInput placeholder="Product">
      </md-input-container>
      <md-input-container>
        <input auto-complete [(ngModel)]="selectedBatch" [source]="batches" mdInput placeholder="Batch">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Quantity" type="number">
      </md-input-container>
      <button class="green-btn" md-raised-button>Add</button>
      <button class="warning-btn" md-raised-button>Clear</button>
      <div class="product-list">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th>Product</th>
              <th>Rate</th>
              <th>Qty</th>
              <th>Tax</th>
              <th>Batch</th>
              <th>Exp Date</th>
              <th>Amount</th>
              <th class="actions-th"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Calpol 500mg</td>
              <td>2</td>
              <td>20</td>
              <td>2%</td>
              <td>BSG201</td>
              <td>22/11/1993</td>
              <td class="text-primary">38/-</td>
              <td class="actions">
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">delete</i>
              </td>
            </tr>
            <tr>
              <td>Calpol 500mg</td>
              <td>2</td>
              <td>20</td>
              <td>2%</td>
              <td>BSG201</td>
              <td>22/11/1993</td>
              <td class="text-primary">38/-</td>
              <td class="actions">
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">delete</i>
              </td>
            </tr>
            <tr>
              <td>Calpol 500mg</td>
              <td>2</td>
              <td>20</td>
              <td>2%</td>
              <td>BSG201</td>
              <td>22/11/1993</td>
              <td class="text-primary">38/-</td>
              <td class="actions">
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">delete</i>
              </td>
            </tr>
            <tr>
              <td>Calpol 500mg</td>
              <td>2</td>
              <td>20</td>
              <td>2%</td>
              <td>BSG201</td>
              <td>22/11/1993</td>
              <td class="text-primary">38/-</td>
              <td class="actions">
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">delete</i>
              </td>
            </tr>
            <tr>
              <td>Calpol 500mg</td>
              <td>2</td>
              <td>20</td>
              <td>2%</td>
              <td>BSG201</td>
              <td>22/11/1993</td>
              <td class="text-primary">38/-</td>
              <td class="actions">
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">delete</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div><br/>
      <button class="right green-btn" md-raised-button>Print Bill</button>
      <button class="warning-btn" md-raised-button>Exit</button>
    </div>
  </div>
</div>
