<a routerLink="/settings" class="back-btn">
  <i class="material-icons">keyboard_arrow_left</i>
  Back</a>
<div class="col-md-12">
  <div class="card">
    <div class="card-content table-responsive">
      <div class="product-list">

        <form class="navbar-form search-field" role="search">

          <div class="form-group search-div is-empty">
            <input type="text" class="form-control search-input" placeholder="Search">
            <span class="material-input"></span>
          </div>
          <button md-raised-button class="enter-purchase-btn">Add Doctor</button>
        </form>
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th>Doctor Name</th>
              <th>Age</th>
              <th>Specialized</th>
              <th>Address</th>
              <th>Contact number</th>
              <th>Email</th>
              <th class="actions-th"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>R.V Dhamodharen</td>
              <td>45</td>
              <td>Eye</td>
              <td>Guruvayoor</td>
              <td>0487-255440</td>
              <td>rv@gmail.com</td>
              <td class="actions">
                <i class="material-icons">edit</i>
                <i class="material-icons">delete</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
