<div class="col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="purple">
      <form class="navbar-form search-field" role="search">
        <div class="form-group search-div is-empty">
          <input type="text" class="form-control search-input" placeholder="Search">
          <span class="material-input"></span>
        </div>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
    <i class="material-icons">search</i>
    <div class="ripple-container"></div>
	</button>
      </form>
    </div>
    <div class="card-content table-responsive">
      <div class="product-list">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th>Customer Name</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Calpol 500mg</td>
              <td>20/-</td>
              <td>20/11/1993</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
