<div class="tiles col-md-4">
  <div class="tiles-content animated fadeInUp">
    <i class="material-icons">person</i>
    <p>Shop Info. Management</p>
  </div>
</div><div class="tiles col-md-4">
  <div class="tiles-content animated fadeInUp">
    <i class="material-icons">local_hospital</i>
    <p>Doctor Management</p>
  </div>
</div>
<div class="tiles col-md-4">
  <div class="tiles-content animated fadeInUp">
    <i class="material-icons">supervisor_account</i>
    <p>Suplier Management</p>
  </div>
</div>
<div class="tiles col-md-4">
  <div class="tiles-content animated fadeInUp">
    <i class="material-icons">view_quilt</i>
    <p>Product Management</p>
  </div>
</div>
<div class="tiles col-md-4">
  <div class="tiles-content animated fadeInUp">
    <i class="material-icons">shopping_basket</i>
    <p>Manufacture Management</p>
  </div>
</div>
