<a class="tiles col-md-4" routerLink="/shopInfo">
  <div class="tiles-content">
    <i class="material-icons">person</i>
    <p>Shop Info. Management</p>
  </div>
</a>
<a class="tiles col-md-4" routerLink="/doctors">
  <div class="tiles-content">
    <i class="material-icons">local_hospital</i>
    <p>Doctor Management</p>
  </div>
</a>
<a class="tiles col-md-4" routerLink="/suppliers">
  <div class="tiles-content">
    <i class="material-icons">supervisor_account</i>
    <p>Supplier Management</p>
  </div>
</a>
<a class="tiles col-md-4"  routerLink="/products">
  <div class="tiles-content">
    <i class="material-icons">view_quilt</i>
    <p>Product Management</p>
  </div>
</a>
<a class="tiles col-md-4"  routerLink="/manufactures">
  <div class="tiles-content">
    <i class="material-icons">shopping_basket</i>
    <p>Manufacture Management</p>
  </div>
</a>
